<!-- <p>
  test-form works!
</p>
<input/> -->

<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header" data-background-color="red">
            <h4 class="title">Test Data</h4>
            <p class="category">Test Data input</p>
          </div>
          <div class="card-content">
            Hello world
            <form>
              <div class="row">
                <div class="col-md-5">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Xaxis </label>
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Yaxis </label>
                    <input type="text" class="form-control">
                  </div>
                </div>
              </div>
              This value is {{oneoftheaxis}}
              <!-- <button (click) = "postData(oneoftheaxis)"></button> -->
              <!-- <button (click) = "postData(oneoftheaxis)" class="btn btn-danger pull-right">Update Profile</button> -->
              <label (click) = "postData(oneoftheaxis)">RunFun</label>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>